<div class="container">
 	<button (mouseenter)="destination = summer" [disabled]="destination.type =='Summer'">Summer</button>
    <button (mouseenter)="destination = winter" [disabled]="destination.type =='Winter'">Winter</button>
    <h2 [textContent]= "destination.type + ' Destination: ' + destination.name"></h2>
    <p><img [src]="destination.photo" [alt]="destination.name" [title]="destination.name"></p>
    <p [hidden]="!destination.rating">
        Rating: <span [innerHTML]="'&#9734;'.repeat(destination.rating)"></span>
    </p>
    <p>{{destination.description}}</p>
    <p>Activities: {{destination.activities}}</p>
</div>